# Ignore ML model files
model.pkl
scaler.pkl

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db